name: Release Wheels

on:
  workflow_call:
    inputs:
      tag_name:
        required: true
        type: string

jobs:
  publish-wheels:
    name: Build and publish wheels
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64
          - os: ubuntu-latest
            target: aarch64
          - os: macos-13
            target: x86_64
          - os: macos-latest
            target: aarch64
          - os: windows-latest
            target: x64

    steps:
      - uses: actions/checkout@v4

      - name: Verify Version Consistency
        shell: bash
        run: |
          CARGO_VERSION=$(grep "^version" Cargo.toml | head -n 1 | awk -F '"' '{print $2}')
          TAG_VERSION="${{ inputs.tag_name }}"
          TAG_VERSION=${TAG_VERSION#v}
          if [ "$CARGO_VERSION" != "$TAG_VERSION" ]; then
            exit 1
          fi

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Build and publish (OIDC)
        id: publish-oidc
        uses: PyO3/maturin-action@v1
        continue-on-error: true
        with:
          command: publish
          args: --skip-existing
          target: ${{ matrix.target }}

      - name: Build and publish (Token Fallback)
        if: steps.publish-oidc.outcome == 'failure'
        uses: PyO3/maturin-action@v1
        env:
          MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
        with:
          command: publish
          args: --skip-existing
          target: ${{ matrix.target }}